@import url('https://fonts.googleapis.com/css?family=Cuprum|Open+Sans+Condensed:300');
html {
    scroll-behavior: smooth;
}

.navbar-right {
    padding: 15px;
    font-size: 19px;
    transition: .7s;
}

.navbar-brand {
    margin-top: 15px;
    font-size: 19px;
    transition: .5s;
}

hr {
    margin-top: -1px;
    color: #f3f6f8;
}

.navbar {
    background-color: #5cdb95;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #05386b;
    letter-spacing: 4px;
    border-bottom: #f3f6f8 1px solid;
    margin-top: -80px;
    opacity: 0;
}

#index p {
    color: #05386b;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
}

#index h1 {
    font-size: 9rem;
    letter-spacing: 20px;
    font-family: 'Cuprum', sans-serif;
}

.jumbotron {
    background-color: #5cdb95;
    height: 500px;
    color: white;
    margin: 0%;
}

.jumbotron i {
    padding-top: 6%;
    font-size: 90px;
    color: #05386b;
}

.first {
    padding: 0 120px
}

.container h2 {
    font-family: 'Cuprum', sans-serif;
    letter-spacing: 3px;
    color: #05386b;
    padding-top: 40px;
}

.subhead {
    padding: 15px;
    font-style: italic;
    font-size: 15px;
}

.container p {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    line-height: 22px;
}

.container h4 {
    font-family: 'Cuprum', sans-serif;
    letter-spacing: 3px;
    padding-bottom: 20px;
    color: #05386b;
}

.first img {
    opacity: .5;
}

.first img:hover {
    transition: .4s;
    border: 2px solid #5cdb95;
    opacity: 1;
}

.container-fluid {
    background-color: #5cdb95;
}

.list-group {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}

.badge,
.btn-default {
    background-color: #5cdb95;
    color: #05386b;
    padding: 6px;
    border-radius: 4px;
    border-color: #05386b;
}

.btn-default:hover {
    background-color: #05386b;
    color: #5cdb95;
    border-color: #5cdb95;
    transition: .4s;
}

.col-lg-4 {
    overflow: hidden;
    margin-bottom: 80px;
}

.card img {
    opacity: 1;
}

.card img:hover {
    border: none;
    opacity: .5;
}

.tab-content {
    margin-bottom: 80px;
}

.footer i {
    padding-top: 50px;
}

.footer p {
    padding-bottom: 50px;
}